@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: #000000;
  --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/*---------------Card----------------*/
.card1 {
 width: 20.5rem;
 height: 9rem;
 border-radius: 20px;
 background: linear-gradient(to bottom, #212121, #121212);
 position: relative;
 padding: 1.8rem;

 transition: 0.5s ease-out;
 overflow: visible;
}
.card {
 width: 10rem;
 height: 9rem;
 border-radius: 20px;
 background: linear-gradient(to bottom, #212121, #121212);
 position: relative;
 padding: 1.8rem;
 transition: 0.5s ease-out;
 overflow: visible;
}

.card-details {
 color: #ffffff;
 height: 100%;
 gap: .5em;
 display: grid;
 place-content: center;
}

.text-body {
 color: #B3B3B3;
}

.cards-container {
  display: grid;
  grid-template-rows: auto auto; /* duas linhas */
  justify-content: center;       /* centraliza o grid no container */
  gap: 20px;
}

.cards-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}
/*Text Card*/
.text-title {
 font-size: 1.5em;
 font-weight: bold;
}

.card1:hover {
 border-color: #008bf8;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card1:hover .card1-button {
 transform: translate(-50%, 50%);
 opacity: 1;
}
/*Hover Card*/
.card:hover {
 border-color: #008bf8;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
 transform: translate(-50%, 50%);
 opacity: 1;
}

/*----------------------------------------*/